@page
@model UsuariosModel
@{
    ViewData["Title"] = "Usuarios";
}
<div id="messageModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 p-6">
    <div class="flex flex-col max-h-[90vh] bg-white rounded shadow mx-auto max-w-[400px] ">
        <div class="modal-header relative border-b p-4">
            <h1 class="uppercase font-bold">Atenção <span id="fecharModal" onclick="fecharModal('#messageModal')" class="absolute top-1 right-3 close text-3xl cursor-pointer">&times;</span></h1>
        </div>
        <main class="text-center p-10">
            <p class="font-bold" id="lblMessage"></p>
        </main>
    </div>
</div>

<div id="formModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 p-6">
    <div class="flex flex-col max-h-[90vh] bg-white rounded shadow mx-auto w-full xs:max-w-[90%] xl:max-w-[1280px] ">
        <div class="modal-header relative border-b p-4">
            <h1 class="uppercase">Motorista <span id="fecharModal" onclick="fecharModal('#formModal')" class="absolute top-1 right-3 close text-3xl cursor-pointer">&times;</span></h1>
        </div>
        <main class="modal-main overflow-auto">
            <form class="w-full p-6" id="form">

                <div class="flex flex-wrap -mx-3 mb-2">
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                            Nome
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_nome" type="text" placeholder="Digite o nome">
                    </div>
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            E-mail
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_email" type="text" placeholder="Digite o e-mail">
                    </div>
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Senha
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded h-10 px-4 leading-tight" id="f_senha" type="password" placeholder="Digite a senha">
                    </div>
                    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                            Status
                        </label>
                        <div class="relative">
                            <select class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_status">
                                <option value="1">Ativo</option>
                                <option value="0">Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <div class="flex w-full justify-between mt-3 px-3 pb-3 pt-3 border-t">
            <div>
                <div id="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-1 rounded relative hidden">
                    <span class="block sm:inline"></span>
                </div>
                <div id="success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-1 rounded relative hidden">
                    <span class="block sm:inline"></span>
                </div>
            </div>
            <button onclick="salvar()" class="flex-shrink-0 bg-[#2daae1] hover:bg-[#1d90c3] border-[#2daae1] hover:border-[#1d90c3] text-sm border-4 text-white py-1 px-2 rounded" type="button">
                Salvar
            </button>
        </div>
    </div>
</div>
<div class="flex w-full flex-col">
    <div class="w-full">
        <h1 class="uppercase font-bold">Usuários</h1>
    </div>
    <div class="flex w-full justify-end mt-3 pb-3">
        <button onclick="novoCadastro()" class="flex-shrink-0 bg-[#2daae1] hover:bg-[#1d90c3] border-[#2daae1] hover:border-[#1d90c3] text-sm border-4 text-white py-1 px-2 rounded">
            Novo Cadastro
        </button>
    </div>
    <table class="min-w-full bg-white border border-gray-300" id="lista">
        <thead>
            <tr>
                <td class="py-2 px-4 border-b font-bold">Nome</td>
                <td class="py-2 px-4 border-b font-bold">E-mail</td>
                <td class="py-2 px-4 border-b font-bold">Status</td>
                <td class="py-2 px-4 border-b font-bold"></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="~/js/services/usuario.js"></script>
<script>
    let lista = [];
    let dataForm = {};
    const limparForm = () => {
        dataForm = {};
        const formulario = $('#form');
        formulario.trigger('reset');
        $('#error').hide();
        $('#success').hide();
    }
    const carregarForm = (id) => {
        dataForm = lista.find(x => x.id === id);
        if (dataForm) {
            $('#formModal').show();
            $('#f_nome').val(dataForm.nome);
            $('#f_email').val(dataForm.email);
            $('#f_status').val(dataForm.status ? '1' : '0');
        }
    }
    const novoCadastro = () => {
        limparForm();
        $('#formModal').show();
    }
    const carregaLista = async () => {
        $('#lista tbody').html('<tr><td colspan="6" class="py-2 px-4 border-b col-span-full w-full text-center"><img src="/images/loading-icon.gif" alt="Loading" class="mx-auto my-auto" /></td></tr>');
        const resposta = await Usuario.getListarAxios();

        const buttonEdit = (id) => {
            return `<button title='Visualizar' onclick='carregarForm(${id})'><svg height="32px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M344.5,298c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C132.1,64,64,132.2,64,216.3  c0,84.1,68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8L414.3,448l33.7-34.3L339.5,305.1L344.5,298z M301.4,131.2  c22.7,22.7,35.2,52.9,35.2,85c0,32.1-12.5,62.3-35.2,85c-22.7,22.7-52.9,35.2-85,35.2c-32.1,0-62.3-12.5-85-35.2  c-22.7-22.7-35.2-52.9-35.2-85c0-32.1,12.5-62.3,35.2-85c22.7-22.7,52.9-35.2,85-35.2C248.5,96,278.7,108.5,301.4,131.2z"/></svg></button>`;
        }
      
        $('#lista tbody').html('');
        if (resposta.data.success) {
            lista = resposta.data.data;
            resposta.data.data.map(m => {
                $('#lista tbody').append(` <tr>
                <td class="py-2 px-4 border-b">${m.nome}</td>
                <td class="py-2 px-4 border-b">${m.email}</td>
                <td class="py-2 px-4 border-b">${m.status ? 'Ativo' : 'Inativo'}</td>
                <td class="flex py-2 px-4 border-b justify-between">${buttonEdit(m.id)}</td>
                </tr>`)
            })
        }
        if (resposta.data.success && resposta.data.data.length === 0)
            $('#lista tbody').html('<tr><td colspan="6" class="py-2 px-4 border-b col-span-full w-full text-center">Nenhum registro cadastrado.</td></tr>');
        if (!resposta.data.success)
            $('#lista tbody').html('<tr><td colspan="6" class="py-2 px-4 border-b col-span-full w-full text-center">Falha ao listar os registros.</td></tr>');

    }
    const salvar = async () => {
        let resposta = null;
        const nome = $('#f_nome').val();
        const email = $('#f_email').val();
        const senha = $('#f_senha').val();
        const status = Boolean($('#f_status').val());

        if (dataForm.id && dataForm.id > 0) {
            resposta = await Usuario.putAxios({
                "id": dataForm.id,
                "nome": nome,
                "email": email,
                "senha": senha,
                "status": status
            });
        } else {
            resposta = await Usuario.postAxios({
                "nome": nome,
                "email": email,
                "senha": senha,
                "status": status
            });
        }
        if (!resposta.data.success) {
            $('#error').show();
            $('#error span').html(resposta.data.data);
            setTimeout(() => $('#error').hide(), 5000);
            return;
        }
        $('#success').show();
        $('#success span').html(resposta.data.data);
        setTimeout(() => { $('#success').hide(); $('#formModal').hide() }, 5000);
         carregaLista();
    }
    function fecharModal(modal) {
        $(modal).hide();
    }
    document.addEventListener('DOMContentLoaded', async function () {
         carregaLista();
    });
</script>