@page
@model VeiculosModel
@{
    ViewData["Title"] = "Veiculo Policy";
}
<div id="messageModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 p-6">
    <div class="flex flex-col max-h-[90vh] bg-white rounded shadow mx-auto max-w-[400px] ">
        <div class="modal-header relative border-b p-4">
            <h1 class="uppercase font-bold">Atenção <span id="fecharModal" onclick="fecharModal('#messageModal')" class="absolute top-1 right-3 close text-3xl cursor-pointer">&times;</span></h1>
        </div>
        <main class="text-center p-10">
            <p class="font-bold" id="lblMessage"></p>
        </main>
    </div>
</div>
<div id="delModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 p-6">
    <div class="flex flex-col max-h-[90vh] bg-white rounded shadow mx-auto max-w-[400px] ">
        <div class="modal-header relative border-b p-4">
            <h1 class="uppercase font-bold">Atenção <span id="fecharModal" onclick="fecharModal('#delModal')" class="absolute top-1 right-3 close text-3xl cursor-pointer">&times;</span></h1>
        </div>
        <main class="text-center p-10">
            <p class="font-bold">Deseja realmente excluir este registro?</p>
            <span id="lblRegistro"></span>
        </main>
        <div class="flex w-full justify-evenly mt-3 px-3 pb-3 pt-3 border-t">
            <button onclick="handleDelSim()" class="flex-shrink-0 bg-[#2daae1] hover:bg-[#1d90c3] border-[#2daae1] hover:border-[#1d90c3] text-sm border-4 text-white py-1 px-2 rounded" type="button">
                Sim
            </button>
            <button onclick="handleDelNao()" class="flex-shrink-0 bg-[#b33d3d] hover:bg-[#972c2c] border-[#b33d3d] hover:border-[#972c2c] text-sm border-4 text-white py-1 px-2 rounded" type="button">
                Não
            </button>
        </div>
    </div>
</div>
<div id="formModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 p-6">
    <div class="flex flex-col max-h-[90vh] bg-white rounded shadow mx-auto w-full xs:max-w-[90%] xl:max-w-[1280px] ">
        <div class="modal-header relative border-b p-4">
            <h1 class="uppercase">Veículo <span id="fecharModal" onclick="fecharModal('#formModal')" class="absolute top-1 right-3 close text-3xl cursor-pointer">&times;</span></h1>
        </div>
        <main class="modal-main overflow-auto">
            <form class="w-full p-6" id="form">

                <div class="flex flex-wrap -mx-3 mb-2">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                            Placa
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_placa" type="text" placeholder="Digite a placa">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                            Nome do veículo
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_nomeVeiculo" type="text" placeholder="Digite o CPF">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3">
                    <div class="w-full mt-3 md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Tipo Combustível
                        </label>
                        <div class="relative">
                            <select class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded h-10 px-4 leading-tight" id="f_combustivel">
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="w-full mt-3 md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Fabricante
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_fabricante" type="text" placeholder="Digita a data de nascimento">

                    </div>
                    <div class="w-full mt-3 md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Ano de fabricação
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_anoFabricacao" type="text" placeholder="Digita a data de nascimento">
                    </div>
                    <div class="w-full mt-3 md:w-1/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Capacidade máxima do tanque
                        </label>
                        <input class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_capacidadeMaximaTanque" type="text" placeholder="Digita a data de nascimento">
                    </div>
                    <div class="w-full mt-3 md:w-4/4 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                            Observações
                        </label>
                        <textarea class="w-full  border border-[#62c2ce]  focus:outline-none focus:border-[#62c2ce] rounded  h-10 px-4 leading-tight" id="f_observacoes" type="text" placeholder="Digita a data de nascimento"></textarea>
                    </div>
                </div>
            </form>
        </main>
        <div class="flex w-full justify-between mt-3 px-3 pb-3 pt-3 border-t">
            <div>
                <div id="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-1 rounded relative hidden">
                    <span class="block sm:inline"></span>
                </div>
                <div id="success" class="bg-green-100 border border-green-400 text-green-700 px-4 py-1 rounded relative hidden">
                    <span class="block sm:inline"></span>
                </div>
            </div>
            <button onclick="salvar()" class="flex-shrink-0 bg-[#2daae1] hover:bg-[#1d90c3] border-[#2daae1] hover:border-[#1d90c3] text-sm border-4 text-white py-1 px-2 rounded" type="button">
                Salvar
            </button>
        </div>
    </div>
</div>
<div class="flex w-full flex-col">
    <div class="w-full">
        <h1 class="uppercase font-bold">Veículos</h1>
    </div>
    <div class="flex w-full justify-end mt-3 pb-3">
        <button onclick="novoCadastro()" class="flex-shrink-0 bg-[#2daae1] hover:bg-[#1d90c3] border-[#2daae1] hover:border-[#1d90c3] text-sm border-4 text-white py-1 px-2 rounded">
            Novo Cadastro
        </button>
    </div>
    <table class="min-w-full bg-white border border-gray-300" id="lista">
        <thead>
            <tr>
                <td class="py-2 px-4 border-b font-bold">Placa</td>
                <td class="py-2 px-4 border-b font-bold">Nome do veículo </td>
                <td class="py-2 px-4 border-b font-bold">Combustível</td>
                <td class="py-2 px-4 border-b font-bold">Fabricante</td>
                <td class="py-2 px-4 border-b font-bold">Ano de fabricação</td>
                <td class="py-2 px-4 border-b font-bold">Capacidade máxima </td>
                <td class="py-2 px-4 border-b font-bold"></td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="~/js/services/veiculo.js"></script>
<script src="~/js/services/combustivel.js"></script>
<script>
    let lista = [];
    let dataForm = {};
    const limparForm = () => {
        dataForm = {};
        const formulario = $('#form');
        formulario.trigger('reset');
        $('#error').hide();
        $('#success').hide();
    }
    const carregarForm =async (id) => {
        dataForm = lista.find(x => x.id === id);
        if (dataForm) {
            $('#formModal').show();
            $('#f_placa').val(dataForm.placa);
            $('#f_nomeVeiculo').val(dataForm.nomeVeiculo);
           
            const combustiveis = await Combustivel.getListarAxios();
            $('#f_combustivel option').remove();
            $('#f_combustivel').append(`<option value="0">Selecione</option>`);
            combustiveis.data.data.map(c => {
                $('#f_combustivel').append(`<option value="${c.id}">${c.descricao}</option>`);
            })
            $('#f_combustivel').val(dataForm.combustivel.id);
            $('#f_fabricante').val(dataForm.fabricante);
            $('#f_anoFabricacao').val(dataForm.anoFabricacao);
            $('#f_capacidadeMaximaTanque').val(dataForm.capacidadeMaximaTanque);
            $('#f_observacoes').val(dataForm.observacoes);
        }
    }
    const novoCadastro = async () => {
        limparForm();

        const combustiveis = await Combustivel.getListarAxios();
        $('#f_combustivel option').remove();
        $('#f_combustivel').append(`<option value="0">Selecione</option>`);
        combustiveis.data.data.map(c => {
            $('#f_combustivel').append(`<option value="${c.id}">${c.descricao}</option>`);
        })
        $('#formModal').show();
    }
    const carregaLista = async () => {
        $('#lista tbody').html('<tr><td colspan="7" class="py-2 px-4 border-b col-span-full w-full text-center"><img src="/images/loading-icon.gif" alt="Loading" class="mx-auto my-auto" /></td></tr>');
        const resposta = await Veiculo.getListarAxios();

        const buttonEdit = (id) => {
            return `<button title='Visualizar' onclick='carregarForm(${id})'><svg height="32px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M344.5,298c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C132.1,64,64,132.2,64,216.3  c0,84.1,68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8L414.3,448l33.7-34.3L339.5,305.1L344.5,298z M301.4,131.2  c22.7,22.7,35.2,52.9,35.2,85c0,32.1-12.5,62.3-35.2,85c-22.7,22.7-52.9,35.2-85,35.2c-32.1,0-62.3-12.5-85-35.2  c-22.7-22.7-35.2-52.9-35.2-85c0-32.1,12.5-62.3,35.2-85c22.7-22.7,52.9-35.2,85-35.2C248.5,96,278.7,108.5,301.4,131.2z"/></svg></button>`;
        }
        const buttonDelete = (id) => {
            return `<button title='Excluir' onclick='excluir(${id})'><svg height="32px" width="32px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M21,6a1,1,0,0,1-1,1H4A1,1,0,0,1,4,5H9V4.5A1.5,1.5,0,0,1,10.5,3h3A1.5,1.5,0,0,1,15,4.5V5h5A1,1,0,0,1,21,6Z" fill="#464646"/><path d="M5.5,9v9.5A2.5,2.5,0,0,0,8,21h8a2.5,2.5,0,0,0,2.5-2.5V9ZM11,17a1,1,0,0,1-2,0V13a1,1,0,0,1,2,0Zm4,0a1,1,0,0,1-2,0V13a1,1,0,0,1,2,0Z" fill="#464646"/></svg></button>`;
        }
        $('#lista tbody').html('');
        if (resposta.data.success) {
            lista = resposta.data.data;
            resposta.data.data.map(m => {
                $('#lista tbody').append(` <tr>
                <td class="py-2 px-4 border-b">${m.placa}</td>
                <td class="py-2 px-4 border-b">${m.nomeVeiculo}</td>
                <td class="py-2 px-4 border-b">${m.combustivel.descricao}</td>
                <td class="py-2 px-4 border-b">${m.fabricante}</td>
                <td class="py-2 px-4 border-b">${m.anoFabricacao}</td>
                <td class="py-2 px-4 border-b">${m.capacidadeMaximaTanque}</td>
                <td class="flex py-2 px-4 border-b justify-between">${buttonEdit(m.id)}${buttonDelete(m.id)}</td>
                </tr>`)
            })
        }
        if (resposta.data.success && resposta.data.data.length === 0)
            $('#lista tbody').html('<tr><td colspan="7" class="py-2 px-4 border-b col-span-full w-full text-center">Nenhum registro cadastrado.</td></tr>');
        if (!resposta.data.success)
            $('#lista tbody').html('<tr><td colspan="7" class="py-2 px-4 border-b col-span-full w-full text-center">Falha ao listar os registros.</td></tr>');

    }
    const salvar = async () => {
        let resposta = null;
        const placa = $('#f_placa').val();
        const nomeVeiculo = $('#f_nomeVeiculo').val();
        const combustivelId = $('#f_combustivel').val();
        const fabricante = $('#f_fabricante').val();
        const anoFabricacao = $('#f_anoFabricacao').val().replace(/\D/g, '');
        const capacidadeMaximaTanque = $('#f_capacidadeMaximaTanque').val().replace(/\D/g, '');
        const observacoes = $('#f_observacoes').val();
        if (dataForm.id && dataForm.id > 0) {
            resposta = await Veiculo.putAxios({
                "id": dataForm.id,
                "placa": placa,
                "nomeVeiculo": nomeVeiculo,
                "combustivelId": combustivelId == '' ? 0 : combustivelId,
                "fabricante": fabricante,
                "anoFabricacao": anoFabricacao == '' ? 0 : anoFabricacao,
                "capacidadeMaximaTanque": capacidadeMaximaTanque == '' ? 0 : capacidadeMaximaTanque,
                "observacoes": observacoes
            });
        } else {
            resposta = await Veiculo.postAxios({
                "placa": placa,
                "nomeVeiculo": nomeVeiculo,
                "combustivelId": combustivelId == '' ? 0 : combustivelId,
                "fabricante": fabricante,
                "anoFabricacao": anoFabricacao == '' ? 0 : anoFabricacao,
                "capacidadeMaximaTanque": capacidadeMaximaTanque == '' ? 0 : capacidadeMaximaTanque,
                "observacoes": observacoes
            });
        }
        if (!resposta.data.success) {
            $('#error').show();
            $('#error span').html(resposta.data.data);
            setTimeout(() => { $('#error').hide()}, 5000);
            return;
        }
        $('#success').show();
        $('#success span').html(resposta.data.data);
        setTimeout(() => {$('#success').hide(); $('#formModal').hide()}, 5000);
         carregaLista();
    }
    const excluir = (id) => {
        dataForm = lista.find(x => x.id === id);
        $('#delModal #lblRegistro').html(`<ul>
        <li><strong>Placa:</strong> ${dataForm.placa}<li>
            <li><strong>Nome do veículo:</strong> ${dataForm.nomeVeiculo}<li>
        </ul>`);
        $('#delModal').show();
    }
    const handleDelSim = async () => {
        $('#delModal').hide();
        const resposta = await Veiculo.deleteAxios(dataForm.id);
        $('#messageModal').show();
        $('#messageModal #lblMessage').html(resposta.data.data);
        setTimeout(()=>$('#messageModal').hide(), 5000);
        dataForm = {};
         carregaLista();
    }
    const handleDelNao = () => {
        dataForm = {};
        $('#delModal').hide();
    }
    function fecharModal(modal) {
        $(modal).hide();
    }
    document.addEventListener('DOMContentLoaded', async function () {
         carregaLista();
    });
</script>